diffusers
transformers
accelerate
bitsandbytes
tensorboard
decord; platform_machine != "arm64"
eva-decord; platform_machine == "arm64"
peft
imageio
imageio-ffmpeg
einops
huggingface-hub
inquirer
opencv-python
tqdm
pandas